.crop-item {
  width: 90%;
  height: 60px;
  background-color: #fbfbfb;
  display: flex;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  margin-bottom: 32px;
}

.crop-item__type {
  font-size: 13px;
  color: grey;
  flex-grow: 1;
  flex-basis: auto;
  text-align: center;
}

.crop-item__title {
  font-size: 17px;
  flex-grow: 2;
  flex-basis: auto;
  align-content: center;
}

.delete-crop-btn {
  font-size: 13px;
  color: grey;
  flex-grow: 1;
  flex-basis: auto;
  text-align: center;
}
